@charset "UTF-8";

body {
    background-color: #a1d1c7a6;
}

header {
    min-height: 200px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.363);
}
header > h2 { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 2em;
}
nav {
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.085);
    display: flex;
    justify-content: space-evenly;
}
nav > a {
    color: black;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    transition-duration: .5s;
    text-decoration: none;
}
nav > a:hover {
    background-color: #375C54;
    color: white;
}
main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;

}